@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$light-color: #fff;
$dark-color: #000;
$accent-color: #ff6b00;
$medium-text-color: #00000080;
$medium-background-color: #acacac;
$font-family: "Open Sans", serif;

$input-border-color: #dedede;
$input-background-color: #fcfcfc;
$input-border-valid: #26a706;
$input-border-invalid: #d80a0a;